<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="about">
        
    </div>
    <div class="wrapper">
      {% include navigation.html %}
      {{ content }}
    </div>

    <footer>
      <a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fintellihill.github.io&count_bg=%23BCBCBB&title_bg=%23555555&icon=instacart.svg&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>
    </footer>
  </body>
</html>